@import 'config/variables';
@import 'base/base';
@import 'components/card';
@import 'components/breakpoints';


/* VARIABLES CSS */
:root {
    /* colors */
    --first-color : hsl(82, 60%, 28%);
    --title-color : hsl(0, 0%, 15%);
    --text-color : hsl(0, 0%, 35%);
    --body-color : hsl(0, 0%, 95%);
    --container-color : hsl(0, 0%, 100%);
    
    
    /* font and typography */
    /* .5rem = 8px | 1rem = 16px */
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size : .813rem
}